includes:
  - tools/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - tools/phpstan/vendor/phpstan/phpstan-php-parser/extension.neon
  - tools/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
  - phpstan-baseline.neon

parameters:
  level: 8
  tmpDir: .
  phpVersion: 80204

  paths:
    - src
    - tests

  stubFiles:
    - tools/phpstan/stubs/Package.stub
