<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" bootstrap="vendor/autoload.php" colors="true">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <report>
      <clover outputFile="clover.xml"/>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Satis Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
