<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
>
  <coverage>
    <report>
      <clover outputFile="clover.xml"/>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Satis Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
