name: docker

on: [push, pull_request]

jobs:

  docker:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v2
    - run: docker build --pull --no-cache --tag composer/satis .
    - if: github.ref == 'refs/heads/main'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - if: github.ref == 'refs/heads/main'
      run: docker push composer/satis
